body{
    background-color: rgb(33, 33, 33);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}

.header{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding-bottom: 20px;
   color: blanchedalmond;
   font-size: 15pt;
}

.task-body{
    border: 1px solid blanchedalmond;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding: 20px 20px;

}
    .task-list{
        overflow-y:scroll;
        overflow-x:hidden;
        height: 600px;
        border-top: 1px solid blanchedalmond;
    }

    .task-input{
        padding-left: 30px;
    }
    .task-input-div>div{
        color: blanchedalmond;
        padding-top: 10px;
    }
        .task-input-form{
            width: 60%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        #title{
            width: 400px;
        }

        #description{
            height: 100px;
            width: 400px;
            resize: none;
        }

.single-task{
    border-bottom: 1px solid blanchedalmond;
    border-left: 1px solid blanchedalmond;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-section{
    display: flex;
    gap: 10px;
}

.list-bottom{
    display: flex;
    gap: 10px;
}
.completion-option{
    display: flex;
    gap: 15px;
}

span{
    font-size: 12px;
    padding-bottom: 4px;
}

i,span{
    cursor: pointer;
    color: brown;
}
i:hover,span:hover{
    font-weight: 600;
}

button{
    background-color: blanchedalmond;
    border: none;
    padding: 2px 6px;
    cursor: pointer;
}

button:hover{
    background-color: darkgrey;
}

#submit-btn{
    background-color: brown;
    padding: 4px 8px;
    color: white;
}
#submit-btn:hover{
    background-color: white;
    color: brown;
}

input{
    padding: 3px 5px;
}

#pop-up{
    display: none;
    width: 300px;
    height: 50px;
    background-color: white;
    color:brown;
    opacity: 0.75;
    border-radius: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 25px;
    padding-top: 25px;
    position: fixed;
    bottom: 20px;
    right: 40px;
}


/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px blanchedalmond;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }